<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Author</title>
</head>
<body>
    <form action="" method="post">
        <div>Author Name: <input type="text" autofocus name="author"></div>
        <div>Educational Details: <input type="text" name="edudetails"></div>
        <div><input type="submit" value="Add Author"</div>
    </form>
</body>
</html>