<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{l.name}} updateprofile</title>
    </head>
    <body>
    {% if msg %} 
    <div>
        {{msg}}
    </div>
    {% endif %}
        <form method="post" action="{% url 'libchangepassword' lib=l.username  %}">
            {% csrf_token %}
            <input type="password" name="oldpassword" placeholder="Enter Old Password">
            <input type="password" name="newpassword" placeholder="Enter new Password">
            <input type="submit" value="submit">
        </form>
        <div>
            <a href="{% url 'libprofile' l.username %}">Back to profile</a>
        </div>
        <div>
            <a href="{% url 'libchangepassword' l.username %}">Changepassword</a>
        </div>
    </body>
</html>