<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome, {{l.name}}</h1>
        <div>
            <a href=""><button>View Profile</button></a>
        </div>
        <div>
            <a href="{% url 'add' l.username %}"><button>Add Student</button></a>
        </div>
        <div>
            <a href="{% url 'requestList' l.username %}"><button>View Register Requests</button></a>
        </div>
        <div>
            <a href="{% url 'display_books' l.username %}"><button>Display All Books</button></a>
        </div>
        <div>
            <a href="{% url 'add_bookcopy' l.username %}"><button>Add a new Book copy</button></a>
        </div>
        <div>
            <a href="{% url 'lib_return' l.username %}"><button>Verify returned Book</button></a>
        </div>
        <div>
            <a href="{% url 'lib_delete' l.username %}"><button>Remove Student</button></a>
        </div>
        <div>
            <a href="{% url 'index' %}"><button>Log Out</button></a>
        </div>
    </body>
</html>


