<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Book List</title>
    <style>
        body
        {
            counter-reset: Serial;           /* Set the Serial counter to 0 */
        }

        table
        {
            border-collapse: separate;
        }

        tr td:first-child:before
        {
            counter-increment: Serial;      /* Increment the Serial counter */
            content:  counter(Serial); /* Display the counter */
        }
    </style>
</head>
<body>
    <h1>List of Taken Books:</h1>
    {% if ntb == 0 %}
    <ul><li>No Taken Books to display</li></ul>
    {% else %}
    <table border="1">
        <tr>
            <th>SNo.</th>
            <th>Book ISBN Number</th>
            <th>Book name</th>
            <th>Issue Date</th>
            <th>Due Date</th>
        </tr>
        {% for t in tbl %} 
        <tr>
            <td></td>
            <td>{{t.BookIsbnNumber}}</td>
            <td>{{t.Book.bookName}}</td>
            <td>{{t.BookIssuedate}}</td>
            <td>{{t.BookDuedate}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h1>List of Reserved Books:</h1>
    {% if nrb == 0 %}
    <ul><li>No Reserved Books to display</li></ul>
    {% else %}
    <table border="1">
        <tr>
            <th>SNo.</th>
            <th>Book ISBN Number</th>
            <th>Book name</th>
            <th>Due Date of Reserved Book</th>
        </tr>
        {% for t in tbl %} 
        <tr>
            <td></td>
            <td>{{t.BookIsbnNumber}}</td>
            <td>{{t.Book.bookName}}</td>
            <td>{{t.BookDuedate}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    <div>
        <a href="{% url 'stu_home' stu %}"><button>Back to Home</button></a>
    </div>
</body>
</html>