<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome, {{s.name}}</h1>
        <div>
            <a href="{% url 'stuprofile' s.username %}"><button>View Profile</button></a>
        </div>
        <div>
            <a href="{% url 'stu_books' s.username %}"><button>View Taken Books</button></a>
        </div>
        <div>
            <a href="{% url 'stu_search' s.username %}"><button>Search/Add a book</button></a>
        </div>
        <div>
            <a href="{% url 'stu_fine' s.username %}"><button>View Total Fine</button></a>
        </div>
        <div>
            <a href="{% url 'extension' stu=s.username  %}"><button>Request for Extension</button></a>
        </div>
        <div>
            <a href="{% url 'index'  %}"><button>Log Out</button></a>
        </div>
    </body>
</html>