<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{s.name}} Profile</title>
</head>
<body>
    {% if msg %} 
    <div>
        {{msg}}
    </div>
    {% endif %}
    <h1>{{s.name}} Profile</h1>
    <div>
        Name : {{s.name}}
    </div>
    <div>
        MobileNumber : {{s.mobileNumber}}
    </div>
    <div>
        username : {{s.username}}
    </div>
    <div>
        Emailid : {{s.emailId}}
    </div>
    <div>
        <a href="{% url 'stuupdateprofile' s.username %}"><button>update profile</button></a>
    </div>
    <div>
        <a href="{% url 'stu_home' s.username %}"><button>Back to home</button></a>
    </div>
</body>
</html>