<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{s.name}} updateprofile</title>
    </head>
    <body>
    {% if msg %} 
    <div>
        {{msg}}
    </div>
    {% endif %}
        <form method="post" action="{% url 'stuupdateprofile' stu=s.username  %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Enter Name" value={{s.name}}>
            <input type="text" name="email" placeholder="Enter Email Address" value={{s.emailId}} >
            <input type="number" name="phoneNo" placeholder="Enter Phone No" value={{s.mobileNumber}} >
            <input type="text" name="username" placeholder ="Enter Username" value={{s.username}} >
            <input type="submit" value="update">
        </form>
        <div>
            <a href="{% url 'stuprofile' s.username %}">Back to profile</a>
        </div>
        <div>
            <a href="{% url 'stuchangepassword' s.username %}">Changepassword</a>
        </div>
    </body>
</html>